.App {
  width: 100vw;
  height: 100vh;
}

.landing-page{
  display: flex;
}

.nav{
  width: 10%;
  height: 100vh;
  border-right: rgb(195, 195, 195) solid 0.5px;
}

.logo{
  font-family: 'Nova Slim';
  font-size: 45px;
  padding: 40px;
  cursor: pointer;
}

.overview-icon, .assets-icon{
  width: 40px;
  height: 40px;
  margin-left: 30%;
  margin-top: 30%;
  cursor: pointer;
}

.settings{
  margin-top: 10%
}

.settings-icon{
  width: 40px;
  height: 40px;
  margin-left: 30%;
}
